/* Базові стилі */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #242527;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Header */
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fafafa;
}

.nav-link:hover,
.nav-link:focus {
  color: #923a3a;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 18px;
}

.logo {
  max-width: 204px; /* Обмежуємо розмір логотипу */
  height: auto;
}

.revision {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  gap: 8px;
  padding-right: 10px;
  font-size: 20px;
}

.button-tel {
  width: 64px;
  height: 64px;
}
.button-tel:hover,
.button-tel:focus {
  transform: scale(1.1);
}

/* Main Title */
.firma-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #fafafa;
  margin: 56px 120px 0 120px;
}

/* Advantages */
.advantage-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #923a3a;
  margin-top: 56px;
}

.advantage-ul {
  display: flex;
  gap: 24px;
  padding-top: 40px;
}

.advantage-li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
  backdrop-filter: blur(20px);
  box-shadow: inset 0 4px 20px 0 rgba(255, 255, 255, 0.4),
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(145, 145, 145, 0.15);
  border-radius: 16px;
  width: 282px;
  height: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

/* Prices */
.price-h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #923a3a;
  margin-top: 56px;
  padding-bottom: 16px;
}

.price-h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #923a3a;
  text-align: center;
  padding-bottom: 16px;
}

.price-h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fafafa;
  text-align: center;
  padding-bottom: 16px;
}

.price-h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fafafa;
  text-align: center;
}

.table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 32px;
  margin-bottom: 56px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #fafafa;
  background: rgba(145, 145, 145, 0.15);
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

th {
  font-weight: 600;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.1);
}

td {
  font-size: 18px;
}

.price-doc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fafafa;
  border-radius: 16px;
  max-width: 996px;
  backdrop-filter: blur(20px);
  box-shadow: inset 0 4px 20px 0 rgba(255, 255, 255, 0.4),
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(145, 145, 145, 0.15);
  margin: 0 auto;
  padding: 32px 102px;
}

/* Services */

.services-h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #923a3a;
  /* padding-bottom: 40px;
  margin-top: 56px; */
}

.services-column-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  min-height: 312px;
  padding-bottom: 32px;
}
.services-column-right {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  gap: 24px;
  min-height: 312px;
  padding-bottom: 32px;
}

.services-column-left img,
.services-column-right img {
  max-width: 486px;
  height: auto;
}

.services-p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #fafafa;
  flex: 1;
}

.contacts-h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #923a3a;
  padding-bottom: 24px;
  /* margin-top: 56px; */
}
.contacts-p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #923a3a;
  padding-top: 24px;
}
.contacts-p2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fafafa;
}

.contacts-div {
  text-align: center;
}
.container-contacts {
  margin-bottom: 24px;
}

/* Медіа-запити для мобільних (до 767px) */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 8px;
  }

  .navigation {
    padding: 8px 0;
  }

  .nav-list {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .logo {
    max-width: 116px;
  }

  .revision {
    padding-right: 0;
    justify-content: center;
    font-size: 16px;
  }

  .button-tel {
    width: 40px;
    height: 40px;
  }

  .firma-title {
    font-size: 24px;
    margin: 32px 20px 0 20px;
  }

  .advantage-title,
  .price-h2,
  .services-h2,
  .contacts-h2 {
    font-size: 36px;
    /* margin-top: 32px; */
  }

  .advantage-ul {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 24px;
  }

  .advantage-li {
    width: 100%;
    max-width: 300px;
    height: 150px;
    font-size: 18px;
    padding: 8px;
  }

  .price-h3 {
    font-size: 24px;
    padding-top: 24px;
  }

  .price-h4,
  .price-h5,
  .price-doc,
  .services-p,
  .contacts-p,
  .contacts-p2 {
    font-size: 18px;
  }

  .price-doc {
    padding: 16px 20px;
  }

  .services {
    padding: 16px 20px 0 20px;
  }

  .services-column-left {
    flex-direction: column;

    gap: 12px;
  }
  .services-column-right {
    flex-direction: column;

    gap: 12px;
  }

  .services-column-left img,
  .services-column-right img {
    max-width: 100%;
  }

  .container-contacts {
    /* padding-top: 24px; */
  }

  th,
  td {
    font-size: 14px;
    padding: 6px;
  }

  table {
    font-size: 14px;
  }
}

/* Базові стилі */
.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
}

/* Мобільне меню */
@media (max-width: 1023px) {
  .nav-list {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #434445;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    display: none;
  }

  .nav-list.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .burger {
    display: flex;
    margin-left: auto;
  }

  .navigation {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.burger.open .burger-line:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.burger.open .burger-line:nth-child(2) {
  opacity: 0;
}
.burger.open .burger-line:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

@media (max-width: 1200px) {
  .services-column-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    min-height: 312px;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: rgba(146, 58, 58, 0.7);
  color: #fafafa;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: rgba(181, 69, 69, 0.7);
  transform: scale(1.1);
}

.scroll-to-top.visible {
  display: flex;
  opacity: 1;
}

@media (max-width: 767px) {
  .scroll-to-top {
    width: 40px;
    height: 40px;
    font-size: 20px;
    bottom: 16px;
    right: 16px;
  }
}

.calc {
  text-align: center;
  color: #fafafa;
  padding-bottom: 20px;
}

.calcvart {
  text-align: center;
  color: #fafafa;
  padding-bottom: 20px;
  padding-top: 20px;
}

.services {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.services-h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #923a3a;
  /* padding-bottom: 40px;
  margin-top: 56px; */
}

/* Стилі для свайпера */
.swiper {
  width: 100%;
  height: 100%;
  padding: 20px 0 50px;
}

.swiper-slide {
  text-align: center;
  background: rgba(145, 145, 145, 0.15);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: inset 0 4px 20px 0 rgba(255, 255, 255, 0.4),
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.swiper-slide:hover {
  transform: translateY(-5px);
  box-shadow: inset 0 4px 20px 0 rgba(255, 255, 255, 0.4),
    0 8px 15px 0 rgba(0, 0, 0, 0.3);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 250px;
}

.swiper.mySwiper .swiper-wrapper .swiper-slide {
  width: 376px;
  height: auto;
  margin-right: 20px;
}

.services-p {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fafafa;
  background: transparent;
}

/* Кастомні стрілки */
.swiper-nav-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.swiper-nav-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(146, 58, 58, 0.7);
  border: none;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.swiper-nav-btn:hover {
  background: rgba(181, 69, 69, 0.9);
  transform: scale(0.9);
}

.swiper-nav-btn:active {
  transform: scale(0.95);
}

/* Пагінація */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #bdc3c7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #923a3a;
}
.swiper-pagination {
  position: relative !important;
  bottom: auto !important;
  top: 10px !important;
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  background: rgba(8, 8, 8, 0.7) !important;
  opacity: 1 !important;
}

/* Активний буллет */
.swiper-pagination-bullet-active {
  background: rgba(146, 58, 58, 1) !important;
  transform: scale(1.2);
}
/* Адаптивність */
@media (max-width: 768px) {
  .services-h2 {
    font-size: 36px;
  }

  .swiper-slide img {
    height: 200px;
  }

  .services-p {
    font-size: 18px;
    padding: 15px;
  }

  .swiper-nav-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .advantage-item {
    width: 150px;
    height: 150px;
  }

  .services {
    padding: 40px 15px;
  }

  .services-h2 {
    font-size: 32px;
  }

  .swiper-slide img {
    height: 180px;
  }

  .services-p {
    font-size: 16px;
  }

  .swiper-nav-btn {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
}

.services {
  padding: 60px 0;
}

.services-h2 {
  text-align: center;
  /* margin-bottom: 40px; */
  font-size: 2.5rem;
  color: #923a3a;
}

/* Контейнер біжучої строки */
.running-line-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.running-line {
  width: 100%;
}

.running-line-track {
  display: flex;
  animation: runningLine 5s linear infinite;
}

.running-line-content {
  display: flex;
  flex-shrink: 0;
  gap: 30px;
}

/* Стилі для кожного елементу послуги */
.service-item {
  flex: 0 0 auto;
  width: 300px;
  text-align: center;

  border-radius: 12px;
  padding: 20px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 4px 20px 0px inset,
    rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.services-p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fafafa;
  margin: 0;
}

/* Анімація біжучої строки */
@keyframes runningLine {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Контроль анімації */
.animation-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.control-btn {
  background: rgba(146, 58, 58, 0.8);
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.control-btn:hover {
  background: rgba(146, 58, 58, 1);
  transform: scale(1.05);
}

/* Адаптивність */
@media (max-width: 768px) {
  .service-item {
    width: 250px;
  }

  .running-line-content {
    gap: 20px;
  }

  .services-h2 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .service-item {
    width: 200px;
  }

  .service-item img {
    height: 150px;
  }

  .services-p {
    font-size: 1rem;
  }
}

/* Додайте цей стиль */
.content-gap {
  width: 30px; /* Ширина проміжку */
  flex-shrink: 0;
}

.advantage-list {
  width: 100%; /* або конкретна ширина, наприклад 30rem */
  position: relative;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.inner {
  display: flex;
  gap: 1rem;
  width: fit-content;
  animation: loop 20s linear infinite; /* можна налаштувати швидкість */
  padding-top: 40px;
}

.advantage-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
  backdrop-filter: blur(20px);
  box-shadow: inset 0 4px 20px 0 rgba(255, 255, 255, 0.4),
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(145, 145, 145, 0.15);
  border-radius: 16px;
  width: 282px;
  height: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.fade {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    #242527,
    transparent 30%,
    transparent 70%,
    #242527
  );
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .advantage-item {
    width: 150px;
    height: 150px;
  }
}
